@tailwind base;
@tailwind components;
@tailwind utilities;

.image:hover .poster {
  @apply opacity-100 !scale-100;
}

#hero_image {
  background-image: url(/public/images/hero-1.png);
  background-position: top center;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}
